{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<!-- About page to display website main information-->
<div class="container my-5">
    <h2>About Vintage Frames</h2>
    <p>Welcome to Vintage Frames, your premier destination for timeless cinema and movie experiences. Our platform is dedicated to movie enthusiasts who appreciate the beauty and nostalgia of classic and vintage films. With an ever-growing community, we strive to connect like-minded individuals through discussions, screenings, and reviews.</p>
    <p>Our mission is to bring the charm of vintage cinema to modern audiences by showcasing rare screenings, facilitating meaningful discussions, and providing insights into cinematic history.</p>
</div>
{% endblock %}

